/*** Elements ***/
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        font-family: calibri;
    }

    
/*** IDs ***/
    #coordinates {
        font-family: Droid Sans Mono;
        z-index: 1;
        position: sticky;
        bottom: 0;
        width: 60px;
        left: 0;
        padding-right: 10px;
        padding-bottom: 10px;
        cursor: default;
        background-color: rgba(255, 255, 255, 0.8);
        grid-area: footer;
        margin-left: 10px;
    }
    
    #div_coords {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 10px;
    }

    #floorplan {
        position: relative;
        padding: 0;
        margin: 0;
        margin-left: -1px;
        margin-top: -1px;
        width: 100%;
        height: 100%;
        /*background-image: url('../upload/Grundriss.png');*/ /* Braucht eine Jquery-Alternative */
        background-repeat: no-repeat;
        border: none;
        overflow: auto;
    }
    
    #item_menu {
        display: none;
        margin-top: 20px;
    }
    
    
/*** Classes ***/
    .button {
        border-radius: 8px;
        border: 1px solid black;
        background: #666;
        color: white;
        cursor: pointer;
    }
    
    .coords {
        width: 30px;
        text-align: right;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }
    
    .door.circle {
        fill: red;
        stroke: black;
        stroke-width:1;
    }
    
    .door {
        display: none;
    }
    
    .doorspan {
        margin-left: 20px;
    }
    
    .door_coord_out {
        margin-left: 10px;
    }
    
    .floorplan_container {
        grid-area: floorplan;
        overflow: auto;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 20%;
        grid-template-rows: 50px minmax(0, 1fr) 40px;
        grid-template-areas: 
            "objmenu objmenu"
            "floorplan sidebar"
            "footer sidebar";
        column-gap: 0px;
        row-gap: 0px;
        height: 100%;
    }
    
    .headline {
        font-weight: bold;
        font-size: 1.3em;
    }
        
    .obj_container {
        grid-area: objmenu;
        justify-self: start;
        align-self: start;
        padding: 5px;
    }
    
    .obj_input{
        height: 32px;
        width: 32px;
        border: 1px solid black;
        margin-right: 3px;
    }
    
    .sidebar_container {
        grid-area: sidebar;
    }