.main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: no-repeat url('../upload/Grundriss.png');
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
}

.admin_menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 180px;
    height: 100px;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    border-bottom-left-radius: 10px;
/*    opacity: 0.8;*/
    padding: 5px;
    background-color: white;
    z-index: 2;
    text-align: center;
}

.textbox {
    margin-bottom: 5px;
}

.textbox input {
    color: blue;
    border-radius: 8px;
    border: 1px solid blue;
    text-align: center;
}

.textbox input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-align: center;
    opacity: 1; /* Firefox */
}

.textbox input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    text-align: center;
}

.textbox input::-ms-input-placeholder { /* Microsoft Edge */
    text-align: center;
    color: black;
}

#login_menu {
    color: blue;
    text-decoration: underline;
}

#login_menu:hover {
    cursor: pointer;
    text-decoration: underline;
}

.admin_side-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    margin-top:4px;
    /* background-color: #f4f4f4;*/
    /* background-image: url('../img/icon/login.png'); */
    opacity: 0.8;
    background-size: contain;
    background-position: center center;
    /* background-size: 32px, 32px; */
    z-index: 1;
}

.svgbg {
    display: block;
}

polygon.room {
    fill: white;
    stroke: black;
    stroke-width: none;    
}

@keyframes blink {
    /* Für Demonstrationszwecke */
    100%,
    0% {
        fill: #ff1c1c;
        opacity: 1.0:
    }
    70% {
        fill: #ff1c1c;
        opacity: 0.0;
    }
}